@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && Session["UserName"]!=null)

 {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    @*<ul class="nav navbar-nav navbar-right">*@
        @*<li class="has-submenu">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        @*<li class="list-inline-item dropdown notification-list">*@
            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">
                <img src="@Url.Content("~/Content/")assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                <span class="ml-1">@User.Identity.GetUserName() <i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Verification</a>
                <a class="dropdown-item" href="@Url.Action("OrderHistory", "OrderHistory")"><i class="dripicons-clipboard text-muted"></i>Order History</a>
                <a class="dropdown-item" href="@Url.Action("Security", "SecurityCenter")"><i class="dripicons-lock text-muted"></i> Security Center</a>

                <a class="dropdown-item" href="@Url.Action("Settings","Settings")"><i class="dripicons-gear text-muted"></i> Settings</a>
                <a class="dropdown-item" href="#"><i class="dripicons-question text-muted"></i> FAQ</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="dripicons-exit text-muted"></i> Logout</a>
            </div>
        @*</li>*@
    @*</ul>*@
    }
}
else
{
    <ul class="navigation-menu">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li class="has-submenu">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
